<div class="calculator">

    <input type="text" class="calculator-screen" value="{{ calculator.displayValue }}" disabled />

    <div class="calculator-keys">

        <button type="button" class="operator" #inputplus value="+" (click)="handleOperator(inputplus)">+</button>
        <button type="button" #inputsub class="operator" value="-" (click)="handleOperator(inputsub)">-</button>
        <button type="button" #inputtimes class="operator" value="*" (click)="handleOperator(inputtimes)">&times;</button>
        <button type="button" #inputdiv class="operator" value="/" (click)="handleOperator(inputdiv)">&divide;</button>

        <button type="button" #input7 [attr.data-value]="7" (click)="handleInput(input7)">7</button>
        <button type="button" #input8 [attr.data-value]="8" (click)="handleInput(input8)">8</button>
        <button type="button" #input9 [attr.data-value]="9" (click)="handleInput(input9)">9</button>


        <button type="button" #input4 [attr.data-value]="4" (click)="handleInput(input4)">4</button>
        <button type="button" #input5 [attr.data-value]="5" (click)="handleInput(input5)">5</button>
        <button type="button" #input6 [attr.data-value]="6" (click)="handleInput(input6)">6</button>


        <button type="button" #input1 [attr.data-value]="1" (click)="handleInput(input1)">1</button>
        <button type="button" #input2 [attr.data-value]="2" (click)="handleInput(input2)">2</button>
        <button type="button" #input3 [attr.data-value]="3" (click)="handleInput(input3)">3</button>


        <button type="button" #input0 [attr.data-value]="0" (click)="handleInput(input0)">0</button>
        <button type="button" #inputdec class="decimal" value="." (click)="handleDecimal(inputdec)">.</button>
        <button type="button" #inputclear class="all-clear" [attr.data-value]="all-clear" (click)="handleClear(inputclear)">AC</button>

        <button type="button" #inputeq class="equal-sign operator" value="=" (click)="handleOperator(inputeq)">=</button>
    </div>
</div>